@using testweb.Data
@model VacansiesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="vacansies">
@foreach(Vacancy vacancy in Model.Vacancies )
	{
	<p>@vacancy.Company</p>
	}
	</div>
